/* IMPOSTAZIONI GENERALI */

body{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    text-align: center;
    font-weight: bolder;
    line-height: 1;
}
main{
    display:block
}
/* HEADER */
header{
    border-bottom: 10px darkblue solid;
    background-color: rgb(60, 185, 234);
    line-height:2;
}
span{
    background-color: white ;
    color: rgb(60, 185, 234);
}
h1{
    color: white;
}

/* MAIN */
ul{
    padding: 30px;
    margin: auto;

}
.corsivo{
    font-style: italic;
}
h2:nth-of-type(1){
    color: blue;
    margin: 3%;
    font-size: l;

}
main{
    display: block;
}
section{
    display:block
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
/* ELEMENTI NEL MAIN */

/* FOOTER */
footer {
    border-top: 0%;
    display: block;
    color: white;
    background-color: black;
    line-height: 1;
}
small{
    color: grey;
    display: block;
}
kbd{
    color: yellow;
}
